@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
* {
  transition: all linear 0.3s;
  color: white;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  .logo-anim {
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0%, #fff 10%, #868686 20%);
    background-size: 200%;
    /* Increase background size to allow movement */
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
  }

  @keyframes shine {
    0% {
      background-position: 200%;
    }

    60% {
      background-position: 100%;
    }

    100% {
      background-position: 0%;
    }
  }

  .w-1200 {
    width: 1200px;
  }
}

.cursor-blink {
  animation: blink-animation 1s step-end infinite;
  display: inline-block;
  width: 0.8rem;
  /* Adjust width of cursor as needed */
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* .video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container>.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-container>.video-text {
  inset: 0;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
  padding: 20px 0px;
}

.tilt::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  bottom: -300px;
  transform: skewY(-7deg);
  transform-origin: top left;
} */


@keyframes gradient-random {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 100% 120%;
  }
}

.random-gradient-text {
  background: linear-gradient(270deg, #a855f7, #1200d4, #00c0aa, #3b82f6, #66fffc);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-random 10s ease infinite;
}



.career-flow {
  display: flex;
  flex-direction: row;
  width: 3000px;
  background-color: rgba(128, 128, 128, 0.158);
  height: 100vh;
  position: sticky;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-flow {
  /* height: 100vh; */
  width: 3000px;
}



/* Hybrid Scroll */
.sticky_parent {
  height: 400vh;
  width: 100%;
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0px;
  height: 100vh;
}

.scroll_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 15226px;
  /* Adjust the width based on the content length */
  will-change: transform;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5vw;
  transition: transform 0.3s ease-out;
  /* Smooth transition */
}






.react-flow {
  --bg-color: rgb(17, 17, 17);
  --text-color: rgb(243, 244, 246);
  --node-border-radius: 10px;
  --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
    -10px 0 15px rgba(233, 42, 103, 0.3);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-flow__node-turbo {
  border-radius: var(--node-border-radius);
  display: flex;
  height: 70px;
  min-width: 150px;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  box-shadow: var(--node-box-shadow);
}

.react-flow__node-turbo .wrapper {
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}

.gradient:before {
  content: '';
  position: absolute;
  padding-bottom: calc(100% * 1.41421356237);
  width: calc(100% * 1.41421356237);
  background: conic-gradient(from -160deg at 50% 50%,
      #e92a67 0deg,
      #a853ba 120deg,
      #2a8af6 240deg,
      #e92a67 360deg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.react-flow__node-turbo.selected .wrapper.gradient:before {
  content: '';
  background: conic-gradient(from -160deg at 50% 50%,
      #e92a67 0deg,
      #a853ba 120deg,
      #2a8af6 240deg,
      rgba(42, 138, 246, 0) 360deg);
  animation: spinner 4s linear infinite;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.react-flow__node-turbo .inner {
  background: var(--bg-color);
  padding: 16px 20px;
  border-radius: var(--node-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.react-flow__node-turbo .icon {
  margin-right: 8px;
}

.react-flow__node-turbo .body {
  display: flex;
}

.react-flow__node-turbo .title {
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 1;
}

.react-flow__node-turbo .subline {
  font-size: 12px;
  color: #777;
}

.react-flow__node-turbo .cloud {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  right: 0;
  position: absolute;
  top: 0;
  transform: translate(50%, -50%);
  display: flex;
  transform-origin: center center;
  padding: 2px;
  overflow: hidden;
  box-shadow: var(--node-box-shadow);
  z-index: 1;
}

.react-flow__node-turbo .cloud div {
  background-color: var(--bg-color);
  flex-grow: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__handle.source {
  right: -10px;
}

.react-flow__handle.target {
  left: -10px;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__edge .react-flow__edge-path {
  stroke: url(#edge-gradient);
  stroke-width: 2;
  stroke-opacity: 0.75;
}

.react-flow__controls button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #95679e;
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid #95679e;
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: var(--text-color);
}

.react-flow__attribution {
  background: rgba(200, 200, 200, 0.2);
}

.react-flow__attribution a {
  color: #95679e;
}


/* ---------------- Career Flow ------------------- */
@keyframes ring {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ring {
  animation: ring 1.5s infinite;
}


.middle-gradient {
  @apply bg-gradient-to-tr from-light-green to-gray-700 w-full h-full scale-105 -translate-x-1 -translate-y-1 rounded-lg p-0.5 relative;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.middle-gradient:hover {
  transform: rotate(6deg);
}

.inner-content {
  @apply bg-black w-[400px] p-4 rounded-lg relative z-10;
}

.filter-white {
  filter: brightness(120%) hue-rotate(270deg) !important;
}

.gradient-shape {
  width: 300px;
  height: 200px;
  background:
    radial-gradient(circle at 20% 30%, rgba(255, 223, 0, 0.7), transparent 70%),
    radial-gradient(circle at 80% 70%, rgba(255, 0, 150, 0.7), transparent 70%),
    radial-gradient(circle at 50% 50%, rgba(0, 200, 255, 0.7), transparent 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}



.circuit-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circuit-animation path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: circuitDraw 4s infinite linear;
}

@keyframes circuitDraw {
  0% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
