@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
  transition: linear 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    background: linear-gradient(to bottom, white, lightgray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.gradient-sparkles {
  background: linear-gradient(to left, #3d0c67, rgb(183, 106, 255)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.cursor-blink {
  animation: blink-animation 1s step-end infinite;
  display: inline-block;
  width: 0.8rem;
  /* Adjust width of cursor as needed */
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container>.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-container>.video-text {
  inset: 0;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
  padding: 20px 0px;
}

.tilt::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  bottom: -300px;
  transform: skewY(-7deg); /* Adjust the angle as needed */
  transform-origin: top left;
}
